.container {
  width: 80%;
  margin: auto;
  margin-top: 50px;
}
.container2 {
  width: 80%;
  margin: auto;
  margin-top: 50px;
}
.elements {
  display: flex;
  flex-wrap: wrap;
}
.elements .element {
  width: 24.25%;
}
.elements .element img {
  height: 300px;
}
.elements .ele {
  margin-right: 1%;
}
.div1 {
  display: flex;
}
